*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    color: #fff;
}body{
    background:#fff ;
}
.head{
    width: 90%;
    background:linear-gradient(135deg,#00feba,#5b548a);
    margin: 100px auto 0px;
    padding: 40px 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 390px;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    flex:1;
    margin-right: 16px;
    height: 22px;
    padding:10px 25px;
    border-radius: 20px;
    font-size: 18px;
    color: slategray;

}.search button{
    border: 0;
    outline: 0;;
    width:40px;
    height:40px;
    border-radius: 50%;
    cursor: pointer;
}.search button img{
    width:19px;
    height:19px;
}.weather{
    margin: 20px 20px 0px 20px;
    padding: 5px;
    width: 86%;
}.weather .icon{
    width: 165px;
    margin-top: 15px;
}.weather h1{
    font-size: 40px;
    font-weight: 600;
    padding: 5px;
}.weather h2{
    font-size: 30px;
    font-weight: 500;
    padding: 7px;
}
.weather .details{

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 21px 0px;
    padding: 6px;
}.weather .details .col1{
    display: flex;
    align-items: center;
    text-align: left;
}.col1 img{
    width: 44px;
    margin-right: 7px;
}.humidity, .wind{
    font-size: 26px;
    margin-top: -6px;
}.desc{
    font-size: 20px;
    font-weight: 500;
}.weather{
    display: none;
}.error{
    text-align: left;
    margin-left: 10px;
    margin-top: 15px;
    display: none;
}